@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,700;0,800;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,700&display=swap');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}
body{
    overflow-x: hidden;
    height: 310vh;
    background-image: url(img/backgroundloja.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.conteiner{
    width: 100%;
    height: 100vh;
}

  /* ini: Preloader */
 
  #preloader {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-image: linear-gradient(to top, #000000, #181717, #282628, #38373a, #49494d);
    z-index:999; 
}
.inner h3{
    color: white;
    text-align: center;
}
#preloader .inner {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);  
}

/* Menu */

.menu_pc{
    z-index: 100;
    display: flex;
    position: absolute;
    box-shadow: 5px black;
    border: 2px rgba(0, 0, 0, 0.329) solid;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.267);
}

.menu{
    color: rgb(255, 0, 0);
    padding: 10px;
    display: flex;
    gap: 3rem;

}

.menu a{
    font-family: 'Open Sans', sans-serif;
    border-bottom: solid 2px rgba(20, 20, 20, 0.466);
    padding: 2px;
    font-size: 1.1rem;
    color: rgb(255, 255, 255);
    transition: transform 1s;
}
.menu a:hover{
    transform: scale(111%);
    color: white;
}
.menu_mobile{
    display: none;
}
.ative{
    width: 40%;
    height: 100vh;
    display: flex;
    position: fixed;
    z-index: 200;
    background-color: #000000;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    animation: menu 1s;
    transition: all 1s;

}
#hamburguer{
    position: fixed;
    z-index: 200;
    top: 5px;
    left: 5px;
    display: none;
}
.nav_mobile{
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

}
.nav_mobile a{
    border-bottom: solid 2px rgba(20, 20, 20, 0.466);
    padding: 2px;
    font-size: 1.1rem;
    color: rgb(255, 255, 255);
}
.status p{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    margin: 0;
    text-align: center;
    color: white;
}
@keyframes menu {
    0%{
        width: 0%;
        opacity: 0;
    }100%{
        width: 40%;
        opacity: 1;
    }
}
/* Banner e texto do banner */
.backgraund{
    position: absolute;
    height: 100vh;
    width: 100%;
    overflow-y:hidden;
    background-color: #000000;
    overflow-x:hidden;
    border-bottom: solid rgba(255, 255, 255, 0.438) 1px;
}
.d-block{
    height: 100vh;
}
.text{
    font-family: 'VT323', monospace;
    z-index: 100;
    position: absolute;
    top: 80%;
    width: 100%;
    color: aliceblue;
    text-align: center;
    animation: back_text 3s;
    z-index: 400;
}
.logo_img{
        z-index: 200;
        position: absolute;
        width: 350px;
        height: 100%;
        opacity: 1;
        top: 20%;
        left: 38%;
        animation: LOGO 3s;
        animation-iteration-count: infinite;
}
.logo_img img{
    width: 250px;
    left: 0;
}
@keyframes LOGO{
    0%{
        transform: scale(100%);
    }50%{
        transform: scale(105%);
    }
}
#on{
    color: green;
}
.text a{
    font-size: 3rem;
    background-color: rgba(240, 248, 255, 0.089);
    color: white;
    padding: 5px;
    border: solid rgba(0, 0, 0, 0.24) 2px;
    cursor: pointer;
    border-radius: 15px;
    transition: transform 1s;
}
.text a:hover{
    transform: scale(111%);
    color: white;
}
.backgraund img{
    width: 100%;
}
.sobre{
    top: 100vh;
    height: 100vh;
    position: relative;
    text-align: center;
    background-repeat: no-repeat;
    background-position-y: 50rem left;
    color: white;
    border-bottom: solid rgba(0, 0, 0, 0.404) 1px;
}
.sobre h2{
    padding-top: 50px;
    padding-bottom: 80px;
}
.conteiner_sobre{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
    font-family: 'Courier Prime', monospace;
}
.card_sobre{
    width: 400px;
}
.comoJogar{
    top: 100vh;
    height: 100vh;
    position: relative;
    text-align: center;
}
.comoJogar h2{
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}
.comojogar_botoes{
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}
.comojogar_botoes a{
    background-color: white;
    text-align: center;
    padding: 1rem;
    color: black;
    border-radius: 10px;
    transform: 2s;
}
.comojogar_botoes a:hover{
    opacity: .6;
    color: black;
}
.comojogar_botoes img{
    height: 32px;
    width: 32px;
}
@keyframes back{
    0%{
        transform: scale(150%);
    }100%{
        transform: scale(100%);
    }
}
@keyframes back_text{
    0%{
        right: -20rem;
    }100%{
        right: 0;
    }
}

.btnTop{
    position: fixed;
    right: 1rem;
    border-radius: 50%;
    padding: .3rem;
    cursor: pointer;
    bottom: 2rem;
    transition: all 1s;
    z-index: 170;
}
.btnTop:hover{
    opacity: .5;
    transform: scale(1.2);
}
.btnTop img{
    width: 64px;
}
footer{
    top: 310vh;
    position: absolute;
    background-color: #000000da;
    color: white;
    width: 100%;
    border-top: 2px solid whitesmoke;
    display: flex;
}
.copyy{
    width: 100%;
    text-align: center;
    padding: 20px;
}
