@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');


*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}
body{
    overflow-x:hidden;
}
.conteiner{
    width: 100%;
    height: 100vh;
}
header{
    z-index: 100;
    display: flex;
    position: absolute;
    box-shadow: 5px black;
    border: 2px black solid;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
    background-color: rgba(255, 255, 255, 0.479);
}
header img{
    height: 128px;
    width: 128px;
}
#back{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: black;
    animation: back 30s;
}
.backgraund{
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: black;
    overflow-y:hidden;
    overflow-x:hidden;
}
.text{
    font-family: 'VT323', monospace;
    font-size: 5rem;
    z-index: 999;
    position: absolute;
    top: 38%;
    width: 100%;
    color: aliceblue;
    text-align: center;
    animation: back_text 3s;
}

.text p{
    margin: 0 auto;
    font-size: 1.5rem;
    font-family: 'Work Sans', sans-serif;
}
#on{
    color: green;
}
nav{
    color: rgb(255, 0, 0);
    padding: 10px;
    display: flex;
    gap: 3rem;

}
nav a{
    border-bottom: solid 2px rgb(20, 20, 20);
    padding: 2px;
    font-size: 1.1rem;
    color: black;
    transition: transform 1s;
}
nav a:hover{
    transform: scale(111%);
}
.text button{
    font-size: 2rem;
    background-color: rgba(240, 248, 255, 0);
    color: white;
    padding: 5px;
    border: solid black 2px;
    cursor: pointer;
    border-radius: 15px;
    transition: transform 1s;
}
.text button:hover{
    transform: scale(111%);
}
.backgraund img{
    width: 100%;
    opacity: .6;
}

@keyframes back{
    0%{
        transform: scale(150%);
    }100%{
        transform: scale(100%);
    }
}
@keyframes back_text{
    0%{
        right: -20rem;
    }100%{
        right: 0;
    }
}
